* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header {
  background: #333;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

header nav ul {
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 20px;
}

header nav ul li a {
  color: #ffffff;* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #eb1717;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header {
  background: #562323;
  color: #af5252;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

header nav ul {
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 20px;
}

header nav ul li a {
  color: #d53737;
  text-decoration: none;
}

.hero {
  background: url('ser.jpg') no-repeat center center/cover;
  color: #843f3f;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 48px;
}

.hero p {
  font-size: 18px;
}

.hero .btn {
  background: #e8491d;
  color: #77cad6;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
}

.about, .programs, .startups, .contact {
  padding: 60px 0;
}

.programs h3, .startup h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form input, form textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

form button {
  padding: 10px;
  background: #333;
  color: #cc1a1a;
  border: none;
  cursor: pointer;
}

footer {
  background: #631a1a;
  color: #241212;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

  text-decoration: none;
}

.hero {
  background: url('zxx.jpg') no-repeat center center/cover;
  color: #000000;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 50px;
}

.hero p {
  font-size: 28px;
}

.hero .btn {
  background: #ff3700;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 28px;
}

.about, .programs, .startups, .contact {
  padding: 90px 0;
}

.programs h3, .startup h3 {
  font-size: 24px;
  margin-bottom: 110px;
}

form {
  display: flex;
  flex-direction: column;
}

form input, form textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

form button {
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}
